*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 70px;
    padding: 0px;
    background-color: #FFF159
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDEDED;
}
.table{
    width: 70%;
    margin: auto;
}

/* formulario 1 */
#boton{
    text-align: center;
    margin: auto;
    display: none;
}

#botonAgregar{
    text-align: center;
    margin: auto;
    display: none;
}

#form{
    text-align: center;
    margin: auto;
    display: none;
    width: 50%;
}

/* formulario 2 */
#boton2{
    text-align: center;
    margin: auto;
    display: none;
}

#botonAgregar2{
    text-align: center;
    margin: auto;
    display: none;
}

#form2{
    text-align: center;
    margin: auto;
    display: none;
    width: 50%;
}

/* formulario 3 */

#boton3{
    text-align: center;
    margin: auto;
    display: none;
}

#botonAgregar3{
    text-align: center;
    margin: auto;
    display: none;
}

#form3{
    text-align: center;
    margin: auto;
    display: none;
    width: 50%;
}

#boton4{
    text-align: center;
    margin: auto;
    display: none;
}

#productwatch2 {
    display: none;
}

#loginproductfavcar{
    display: none;
}

#boton5{
    text-align: center;
    margin: auto;
    display: none;
}

#boton6{
    text-align: center;
    margin: auto;
    display: none;
}

/* Estilos para el enlace Tablas */
#userDropdown {
    display: flex;
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    font-size: 18px; /* Tamaño de la fuente */
    color: #2c3e50; /* Color de la letra */
    font-weight: bold; /* Fuente en negrita */
    text-transform: uppercase; /* Hacer la letra mayúscula */
    text-decoration: none; /* Eliminar subrayado */
    padding: 10px 15px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave en el cambio de color */
  }
  
  /* Efecto cuando se pasa el ratón sobre el enlace */
  #userDropdown:hover {
    color: #fff; /* Color de texto al hacer hover */
    background-color: #e67e22; /* Cambiar fondo al hacer hover */
  }

  #h1{
    display: flex;
    margin: auto;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    font-size: 24px; /* Tamaño de la fuente */
    color: #000000; /* Color de la letra */
    font-weight: bold; /* Fuente en negrita */
    text-transform: uppercase; /* Hacer la letra mayúscula */
    text-decoration: none; /* Eliminar subrayado */
  }

  #id{
    display: none;
  }


  