body{
    margin: auto;
    padding: auto;
    background-color: #efefef;
}

.imagen    {
    display: grid; 
    place-items: center;
}
.encabezado{
    background-color: #FFF159;
    height: 70px;
    padding: 0px;
}
